@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        background-image: url('../../Images/bg1.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="bg">
   
</div>